.gear{
    position: fixed;
    top: 10px;
    left: 10px;
}
.pill{
    position: fixed;
    top: 10px;
    right: 10px;
}
.main-content{
    text-align: center;
}
.blue {
    color: rgba(29, 10, 235, 0.677);
}

.main-content p {
    color: rgb(136, 49, 125);
}
.lens{
    position:relative;
    left:30px;
}
.search-box{
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
